---
import Layout from "@/layouts/Layout.astro";
import {ContainerCard} from "@/components/main/ContainerCard";
import { allPlaylists, songs } from "@/lib/data";
import TablePlaylist from "@/components/playlist/TablePlaylist.astro";
const {id} = Astro.params;

export function getStaticPaths() {
  return allPlaylists.map((playlist) => ({
    params: {
      id: playlist.id,
    },
  }));
}

const playlist = allPlaylists.find((playlist) => playlist.id === id);
const songslist = songs.filter((song) => song.albumId.toString() === id);
---
<Layout title="Spotify Clone | Playlist">
  <ContainerCard client:visible playlist={playlist}>
    <div class="relative z-10">
      <div class="flex gap-6 items-end mb-6 px-7">
      <picture>
      <img
        src={playlist?.cover}
        alt={playlist?.title}
        width="200"
        height="200"
        transition:name=`playlist ${id} image`
      >
      </picture>
      <div class="relative z-10">
      <span>Playlist</span>
      <h1 class="font-black text-7xl truncate mb-6" transition:name=`playlist ${id} title`>
        {playlist?.title}
      </h1>
      <span class="text-text" transition:name=`playlist ${id} artists`>{playlist?.artists.join(", ")}</span>
      <div class="text-text text-sm">
        <span>{songslist.length} canciones, cerca de 5 h 40 min</span>
      </div>
      </div>
      </div>
      <TablePlaylist songslist={songslist} />
    </div>
  </ContainerCard>
</Layout> 
